<div class="create-todo">
    <app-create-todo (onCreateTodo)="onCreateTodo($event)"></app-create-todo>
    <app-search-todo (onSearchTodo)="onSearchTodo($event)"></app-search-todo>
</div>

<div class="list-container" *ngIf="todos$ | async as data">
    <app-loading [ngClass]="{ 'hide': !(loading$ | async) }"></app-loading>
    <app-todo-item (onCompleteTodo)="onCompleteTodo($event)" (onDeleteTodo)="onDeleteTodo($event)"
        *ngFor="let task of data" [item]="task">
    </app-todo-item>
</div>